* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    border: 10px solid yellow;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

@keyframes xxx {
    0%{
        transform: scale(1);

    }
    100%{
        transform: scale(1.2);
    }
}
#heart {
    margin-top: 300px;
    margin-left: 600px;
    margin-right: auto;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    animation: xxx ease-in-out 1s alternate infinite;
}


#heart > div {
    width: 200px;
    height: 200px;
    background-color: red;
}

#heart>div:nth-child(1) {
    position: absolute;
    bottom: 100%;
    right: 100%;
    transform: rotate(45deg) translateX(140px);
    border-radius: 50% 0 0 50% ;
}

#heart>div:nth-child(2) {
    transform: rotate(45deg);
}

#heart>div:nth-child(3) {
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: rotate(45deg) translateY(140px);
    border-radius: 50% 50% 0 0 ;

}

